{% extends 'ChadprodTemplates/base.html.twig' %}

{% block body %}
    {% if error is defined %}
    <center>
        <div class="alert alert-danger" role="alert"> {{ error }}</div>
    </center>
    {% endif %}

    <h1 class="text-center"> Index Produits</h1>
    <center>
        <a class="btn btn-info" href={{ path('add_produit') }}>Ajouter un produit</a>
    </center>
    <table class="table table-striped table-info text-center my-4">
        <tr>
            <td><h4>Designation du produit</h4></td>
            <td><h4>prix du produit</h4></td>
            <td><h4>couleur du produit</h4></td>
            <td><h4>categorie du produit</h4></td>
            <td><h4>Btn</h4></td>
        </tr>
        
        {% for produit in produits %}
            <tr>
                <td>{{ produit.designation }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.couleur }}</td>
                <td>{{ produit.categorieProduit.libelle }}</td>
                <td> {{ include('ChadprodTemplates/Chadprod/produit/btn.html.twig') }}</td
            </tr>
        {% endfor %}
    </table>

{% endblock %}