<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-collapse collapse show" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">   
      <li class="nav-item">
        <a class="nav-link" href={{ path('symprod') }}>Exercice Chamla</a>
      </li>
      {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href={{ path('app_logout') }}>Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ path('register_edit') }}>Modifier mon profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ path('tableau_produit') }}>Tableau</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ path('add_produit') }}>Add</a>
          </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href={{ path('index_produit') }}>index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('app_register') }}>Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('app_login') }}>Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% for label, messages in app.flashes %}
  <div class="contaner">
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
          <p> {{ message }} </p>
        {% endfor %}
    </div>
  </div>
{% endfor %}